<mat-toolbar color="primary">
    <span>My Application</span>
    <span class="example-spacer"></span>
    <button mat-button>Home</button>
</mat-toolbar>


<mat-tab-group>
    <mat-tab label="Directive">
        <app-directive></app-directive>
    </mat-tab>
    <mat-tab label="Event Binding">
        <app-event-binding></app-event-binding>
    </mat-tab>
    <mat-tab label="Text Interpolation">
        <app-text-interpolation></app-text-interpolation>
    </mat-tab>
    <mat-tab label="Property Binding">
        <app-property-binding></app-property-binding>
    </mat-tab>
    <mat-tab label="Two Way Binding">
        <app-two-way-binding></app-two-way-binding>
    </mat-tab>
    <mat-tab label="Quiz 1">
        <app-quiz1></app-quiz1>
    </mat-tab>
    <mat-tab label="Mid Term Exam">
        <app-mid-term-exam></app-mid-term-exam>
    </mat-tab>
    <mat-tab label="Pipes">
        <app-pips></app-pips>
    </mat-tab>
    <mat-tab label="Handling Form Submission">
        <app-handling-form-submission></app-handling-form-submission>
    </mat-tab>
    <mat-tab label="Form Validation">
        <app-form-validation></app-form-validation>
    </mat-tab>
    <mat-tab label="Quiz 2">
        <app-quiz2></app-quiz2>
    </mat-tab>
</mat-tab-group>

<div class="content">
    <!-- <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="your-image-source" alt="Image">
        <mat-card-content>
            <p>Card content...</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card> -->
</div>

<footer class="footer">
    <span>Footer content...</span>
</footer>