.example-spacer {
    flex: 1 1 auto;
}

.content {
    margin: 20px;
}

.example-card {
    max-width: 400px;
    margin: 20px auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    padding: 10px 0;
}